{{#section 'styles'}}
<link rel="stylesheet" href="css/adm.css">
{{/section}}

{{#if dataClient.permissao}}
<div class='container'>
    <form action="/modifyPermission">
    </form>
</div>
{{else}}
<H1>Pagina não permitida</H1>
{{/if}}

<div class="principal">
    <div class="forms">
        <div class="bc">
            <form class="editperfil">
                <h3>Edite seu Perfil</h3><br/>

                <input type="text" name="cpf" class="" id="cpf" placeholder="Informe o CPF">

                <button type="button" class="botao">Pesquisar</button>

                <div class="selectperm">
                    <label for="permissaoAdm" class="texto">PERMISSÃO PARA ADM:</label>
                    <select name="permissao" id="permissaoAdm">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>

                <div class="selectfun">
                    <label for="funcionario" class="texto">FUNCIONARIO:</label>
                    <select name="funcionario" id="funcionario">
                        <option value="sim">Sim</option><br>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <button class="botao">SALVAR</button>
            </form>
        </div>

        <div class="bc">
            <form class="addprodt">
                <h3>Adicione um Produto</h3>

                <label for="" class="texto">INFORME O NOME DO PRODUTO:</label>
                <input type="text" name="nome" id="produto">

                <label for="" class="texto">INFORME O VALOR DO PRODUTO:</label>
                <input type="text" name="preco" id="produto">

                <label for="" class="texto">INFORME A QUANTIDADE:</label>
                <input type="text" name="estoque" id="produto">

                <label for="" class="texto">INFORME O CAMINHO DA IMAGEM:</label>
                <input type="text" name="imagemProduto" id="produto">

                <label for="Alcoolico" class="texto">Alcoolico:</label>
                    <select name="Alcoolico" id="Alcoolico">
                        <option value="sim">Sim</option><br>
                        <option value="nao">Não</option>
                    </select>
                <button class="botao">SALVAR</button>
            </form>
        </div>

    </div>
</div>